# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Flask instance folder
instance/

# Static covers folder
app/static/covers/

# SQLite database
*.db
*.sqlite

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# env files
.env

