{% extends "layout.html" %}

{% block body %}


    <nav class="navbar sticky-top bg-dark-subtle">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin Panel</a>
            <a class="btn btn-primary" href="{{ url_for('logout') }}">Log out</a>
        </div>

    </nav>

    <div class="container text-center" style="margin-top: 70px;">

        <table class="table table-sm table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ account.username }}</td>
                    <td>{{ account.password }}</td>
                    <td>
                        <form action="/admin" method="post">
                            <input type="hidden" name="id" value="{{ account.id }}">
                            <button type="submit" class="btn btn-outline-danger">delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

 



{% endblock %}