<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Flask App </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"> -->
    </head>
    <body class="bg-secondary d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Flask app</a>
                
                {% if session.username %}
                    <span class="navbar-text-me-3">
                        Welcome, {{ session.username }}
                    </span>
                    <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        </nav>
        
        <main class="flex-fill d-flex justify-content-center align-items-center">
             {% block body %}{% endblock %}
        </main>
        


        <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center small text-muted">
                © 2026 Veda Swaroop • Built with Flask • 
                <a href="https://github.com/Veda-Swaroop/Flask_web_app" target="_blank">
                Source Code
                </a> • MIT License
            </div>
        </footer>



    </body>
</html>