{% extends "layout.html" %}

{% block body %}

<div class="container mt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <!-- Bootstrap Alert Div -->
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>

<div class="container mt-4">

    <h1> {{ current_user.username }}'s Cart </h1>

    <a href="{{ request.referrer or url_for('main.home') }}" class="btn btn-primary">&larr; Go Back</a>

</div>


{% for book in books %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">

            <img 
            src="{{ url_for('static', filename='covers/' ~ book.isbn ~ '.jpg') }}" 
            class="img-fluid rounded shadow w-50" 
            alt="{{ book.title }}"
            onerror="this.onerror=null; this.src='https://placehold.co/300x450/555/FFF?text={{ book.title | urlencode }}';"
            >
        </div>
        <!-- Right: Book Details -->
        <div class="col-md-8">
            <h3>{{ book.title }}</h3>
            <h5 class="text-muted">by {{ book.authors }}</h5>
            <hr>
            
            <p><strong>Rating:</strong> {{ book.average_rating }} / 5 ({{ book.ratings_count }} votes)</p>
            <p><strong>Publisher:</strong> {{ book.publisher }} ({{ book.publication_date }})</p>
            <p><strong>Pages:</strong> {{ book.num_pages }}</p>
            <p><strong>ISBN:</strong> {{ book.isbn }}</p>

            <div class="d-flex gap-2 mt-3">
                <form action="{{ url_for('main.delete_from_cart', book_id=book.bookID) }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>





{% endfor %}





{% endblock %}