{% extends "layout.html" %}

{% block body %}

    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1> {{ current_user.username }}'s Cart </h1>
            <div>
                <a href="{{ url_for('main.home') }}" class="btn btn-primary">&larr; Go Back</a>
                <a href="{{ url_for('main.buy_items') }}" class="btn btn-primary"> Proceed to Buy </a>
            </div>
        </div>
    </div>


{% for item in cart %}


    <div class="container cart-item my-4 mb-5">
        <div class="row">
            <div class="col-md-4">

                <img 
                src="{{ url_for('static', filename='covers/' ~ item.book.bookID ~ '.jpg') }}" 
                class="img-fluid rounded shadow w-50" 
                alt="{{ item.book.title }}"
                onerror="this.onerror=null; this.src='https://placehold.co/300x450/555/FFF?text={{ item.book.title | urlencode }}';"
                >
            </div>
            <!-- Right: Book Details -->
            <div class="col-md-8">
                <h3>{{ item.book.title }}</h3>
                <h5 class="text-muted">by {{ item.book.authors }}</h5>
                <hr>
                
                <p><strong>Rating:</strong> {{ item.book.average_rating }} / 5 ({{ item.book.ratings_count }} votes)</p>
                <p><strong>Quantity:</strong> <span class="item-quantity">{{ item.quantity }}</span></p>

                <div class="d-flex gap-2 mt-3">

                    <form action="{{ url_for('main.add_to_cart', book_id=item.book.bookID) }}" method="post" class="add_to_cart_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-primary"> <i class="bi bi-cart-plus"></i> Add </button>
                    </form>

                    <form action="{{ url_for('main.delete_from_cart', book_id=item.book.bookID) }}" method="post" class="delete_from_cart_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-primary"> <i class="bi bi-cart-dash"></i> Delete </button>
                    </form>

                </div>

            </div>
        </div>
    </div>





{% endfor %}





{% endblock %}