{% extends "layout.html" %}

{% block flash_messages %} {% endblock %}

{% block body %}
    <div class="p-3 mb-2 bg-secondary text-white">

        <div class="container">

            <div class="card text-center mb-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="{{ url_for('auth.login') }}" method="post">
                        {{ form.hidden_tag() }}

                        <div class="mb-3">
                            {{ form.username() }}

                            {% for error in form.username.errors %}
                                <div class="text-danger small mt-1">{{ error }}</div>
                            {% endfor %}
                            
                        </div>

                        <div class="mb-3">
                            {{ form.password() }}

                            {% for error in form.password.errors %}
                                <div class="text-danger small mt-1">{{ error }}</div>
                            {% endfor %}
                           
                        </div>


                       {{ form.submit() }}

                    </form>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} fade show mt-3" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    
                    
                    <div>
                        <a href="{{ url_for('auth.verify') }}" class="card-link">Forgot Password?</a>
                    </div>
                    
                    <div class="card-body">
                        <a href="{{ url_for('auth.register') }}" class="btn btn-success">Create new account</a> 
                    </div>
                    
                </div>

            </div>
        </div>

    </div>

{% endblock %}