{% extends "layout.html" %}

{% block flash_messages %} {% endblock %}

{% block body %}
        
    <div class="card text-center mb-3" style="width: 20rem;">

        <div class="card-body">
            <h4 class="card-title"> Create a new account</h4>
            <form action="{{ url_for('auth.register') }}" method="post">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.username() }}

                    {% for error in form.username.errors %}
                        <div class="text-danger small mt-1">{{ error }}</div>
                    {% endfor %}

                    <!--
                    <input type="text" class="form-control" name = "username" placeholder="Enter Username" autofocus required minlength="4" maxlength="20" pattern="^[a-zA-Z0-9_]+$">
                    -->
                    
                </div>

                <div class="mb-3">
                    {{ form.password() }}

                    {% for error in form.username.errors %}
                        <div class="text-danger small mt-1">{{ error }}</div>
                    {% endfor %}

                    <!--
                    <input type="password" class="form-control" name="password" placeholder="Enter Password" required minlength="4" maxlength="20">
                    -->
                    
                </div>
                
                <div>
                    <!--
                    <button type="submit" class="btn btn-primary">Register</button>
                    -->
                    {{ form.submit() }}

                </div>
                
                <div>
                    <a href="{{ url_for('auth.login') }}" class="card-link">Already have an account?</a>
                </div>
            
                
            </form>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} fade show mt-3" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </div>

    </div>

{% endblock %}