{% extends "layout.html" %}

{% block flash_messages %} {% endblock %}

{% block body %}

    <div class="card text-center mb-3" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Create new password</h5>
            <form action="{{ url_for('auth.reset') }}" method="post">

                <input type="hidden" class="form-control" name="user_id" value="{{ user_id }}">

                <div class="mb-3">
                    <input type="password" class="form-control" autocomplete="off" autofocus placeholder="Enter password" name="new_password" required>
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control" autocomplete="off" placeholder="Confirm password" name="confirm_password" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} fade show mt-3" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
        </div>

    </div>


{% endblock %}